.font--bold {
  font-weight: bold;
}
.font--size--3 {
  font-size: 12px;
  line-height: 1.3333333333;
}
.font--size--2 {
  font-size: 13px;
  line-height: 1.2307692308;
}
@media (min-width: 25em) {
  .font--size--2 {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
@media (min-width: 37.5em) {
  .font--size--2 {
    font-size: 13px;
    line-height: 1.2307692308;
  }
}
.font--size--1 {
  font-size: 15px;
  line-height: 1.2;
}
@media (min-width: 25em) {
  .font--size--1 {
    font-size: 15px;
    line-height: 1.2;
  }
}
@media (min-width: 37.5em) {
  .font--size--1 {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}
.font--size-0 {
  font-size: 15px;
  line-height: 1.3333333333;
}
@media (min-width: 25em) {
  .font--size-0 {
    font-size: 16px;
    line-height: 1.25;
  }
}
.font--size-1 {
  font-size: 14px;
  line-height: 1.2857142857;
}
@media (min-width: 25em) {
  .font--size-1 {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}
@media (min-width: 56.25em) {
  .font--size-1 {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}
.font--size-2 {
  font-size: 18px;
  line-height: 1.2222222222;
}
@media (min-width: 25em) {
  .font--size-2 {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}
@media (min-width: 37.5em) {
  .font--size-2 {
    font-size: 20px;
    line-height: 1.2;
  }
}
.font--size-3 {
  font-size: 20px;
  line-height: 1.2;
}
@media (min-width: 37.5em) {
  .font--size-3 {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
.font--size-4 {
  font-size: 24px;
  line-height: 1;
}
@media (min-width: 25em) {
  .font--size-4 {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media (min-width: 37.5em) {
  .font--size-4 {
    font-size: 32px;
    line-height: 1.125;
  }
}
.font--size-5 {
  font-size: 28px;
  line-height: 1.1428571429;
}
@media (min-width: 25em) {
  .font--size-5 {
    font-size: 32px;
    line-height: 1.125;
  }
}
@media (min-width: 37.5em) {
  .font--size-5 {
    font-size: 44px;
    line-height: 1.0909090909;
  }
}
