.font--bold {
  font-weight: bold;
}

/* descending */
.font--size--3 {
  font-size: 12px;
  line-height: 1.3;
}
.font--size--2 {
  font-size: 13px;
  line-height: 1.3;
}
.font--size--1 {
  font-size: 14px;
  line-height: 1.3;
}

/* central font */
.font--size-0 {
  font-size: 15px;
  line-height: 1.3;
}

/* ascending */
.font--size-1 {
  font-size: 18px;
  line-height: 1.3;
}
.font--size-2 {
  font-size: 20px;
  line-height: 1.3;
}
.font--size-3 {
  font-size: 24px;
  line-height: 1.3;
}
.font--size-4 {
  font-size: 28px;
  line-height: 1.3;
}
