:root {
  --size-main-wrapper: 1280px;
  --size-base-unit: 4px;

  --zindex-skip-content: 10;
  --zindex-nav: 2;
  --zindex-boost: 1;

  --color-bg-main: #000;
  --color-bg-main--active: #141414;

  --color-bg-icon-button: #202224;
  --color-icon-button: #fff;
  --color-bg-icon-button--active: #fff;
  --color-icon-button--active: #000;

  --color-bg-text: #f6f6f6;
  --color-accent-1: #ff4c98;

  --color-subtle-text: #b0b2b4;

  --font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}
